name: CI/CD - Terraform + SonarQube + Dockerhub
  
on:
  pull_request:
    branches: [ "main" ]
    paths:
      - ".github/workflows/**"
      - "AuthMs/**"

  push:
    branches: [ "main" ]
    paths:
      - ".github/workflows/**"
      - "AuthMs/**"

jobs:

  # =========================
  # TERRAFORM
  # =========================
  terraform:
    needs: api
    if: vars.TERRAFORM_ENABLED == 'true'
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: AuthMs/terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        if: github.event_name == 'pull_request'
        run: terraform plan

      - name: Terraform Apply
        if: github.event_name == 'push'
        run: terraform apply -auto-approve


  # =========================
  # API (.NET + SONAR)
  # =========================
  api:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Install SonarScanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Restore
        run: dotnet restore AuthMs/AuthMs.sln

      - name: Begin SonarCloud analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: dotnet sonarscanner begin /k:"goncalves-c97_fiap-hk-auth-ms" /o:"goncalves-c97" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.login="$SONAR_TOKEN" /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml" /d:sonar.sources="AuthMs/Core,AuthMs/Infra.Data.SqlServer,AuthMs/WebApi" /d:sonar.tests="AuthMs/Test" /d:sonar.exclusions="**/wwwroot/**,**/*.cshtml,**/Program.cs"

      - name: Build
        run: dotnet build AuthMs/AuthMs.sln --no-restore --configuration Release
  
      - name: Test with OpenCover
        run: dotnet test AuthMs/AuthMs.sln --no-build --configuration Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

      - name: Debug OpenCover file
        run: find . -name "coverage.opencover.xml"
      
      - name: End SonarCloud analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            
        run: dotnet sonarscanner end /d:sonar.login="$SONAR_TOKEN"
        
      - name: SonarCloud Quality Gate Check
        uses: SonarSource/sonarqube-quality-gate-action@v1.1.0
        with:
          scanMetadataReportFile: .sonarqube/out/.sonar/report-task.txt
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # =========================
  # DOCKER
  # =========================
  docker:
    needs: api
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
            
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./AuthMs
          file: ./AuthMs/Dockerfile
          push: true
          tags: |
            goncalvesc97/fiap-hk-auth-ms:latest
            goncalvesc97/fiap-hk-auth-ms:${{ github.sha }}
